.contact ul li {
  padding-top: 10px;
  padding-bottom: 10px;
  list-style: none;
}

.contact ul li i{
  padding-top: 5px;
  padding-bottom: 5px;
}

#experiences {
  list-style: none;
}

#experiences .row {
  padding-top: 5px;
  padding-bottom: 5px;
}

.experience {
  font-size: 18px;
}

.experience .title {
  font-weight: bold;
  font-size: 20px;
}

#map-canvas {
  width: 100%;
  height: 300px;
}

#description {
  padding: 10px;
  font-size: 18px;
  margin-top: 40px;
}

.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 14px sans-serif;
}

.bar {
  fill: steelblue;
}
